In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px

## Data Set Information:

The dataset includes 244 instances that regroup a data of two regions of Algeria,namely the Bejaia region located in the northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria.

122 instances for each region.

The period from June 2012 to September 2012.
The dataset includes 11 attribues and 1 output attribue (class)
The 244 instances have been classified into â€˜fireâ€™ (138 classes) and â€˜not fireâ€™ (106 classes) classes.

## Attribute Information:

1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012)
Weather data observations
2. Temp : temperature noon (temperature max) in Celsius degrees: 22 to 42
3. RH : Relative Humidity in %: 21 to 90
4. Ws :Wind speed in km/h: 6 to 29
5. Rain: total day in mm: 0 to 16.8
FWI Components
6. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5
7. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9
8. Drought Code (DC) index from the FWI system: 7 to 220.4
9. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5
10. Buildup Index (BUI) index from the FWI system: 1.1 to 68
11. Fire Weather Index (FWI) Index: 0 to 31.1
12. Classes: two classes, namely â€œFireâ€ and â€œnot Fireâ€

### The dataset contains entries for two regions. Hence read the entries for each region separately and then combine to a single dataset

## Load the dataset

### Load the first region

In [2]:
df_region1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv',
                        nrows=123)

In [10]:
df_region1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 123 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '25', '78', '14', '1.4', '45', '1.9', '7.5', '0.2', '2.4', '0.1')
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   123 non-null    object
dtypes: object(1)
memory usage: 30.9+ KB

In [11]:
df_region1.tail()

                                                  Bejaia Region Dataset
26 09 2012 31 54 11 0   82   6   16.3 2.5 6.2 1.7            not fire
27 09 2012 31 66 11 0   85.7 8.3 24.9 4   9   4.1                fire
28 09 2012 32 47 14 0.7 77.5 7.1 8.8  1.8 6.8 0.9            not fire
29 09 2012 26 80 16 1.8 47.4 2.9 7.7  0.3 3   0.1            not fire
30 09 2012 25 78 14 1.4 45   1.9 7.5  0.2 2.4 0.1            not fire

### Load the second region

In [12]:
df_region2 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv',
                        skiprows=124)

In [13]:
df_region2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 123 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '24', '64', '15', '0.2', '67.3', '3.8', '16.5', '1.2', '4.8', '0.5')
Data columns (total 1 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Sidi-Bel Abbes Region Dataset  122 non-null    object
dtypes: object(1)
memory usage: 34.5+ KB

In [14]:
df_region2.head()

                                                                   Sidi-Bel Abbes Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI FWI                     Classes
01  06    2012 32          71  12  0.7   57.1 2.5 8.2  0.6 2.8 0.2                   not fire
02  06    2012 30          73  13  4     55.7 2.7 7.8  0.6 2.9 0.2                   not fire
03  06    2012 29          80  14  2     48.7 2.2 7.6  0.3 2.6 0.1                   not fire
04  06    2012 30          64  14  0     79.4 5.2 15.4 2.2 5.6 1                     not fire

In [15]:
df_region2.tail()

                                                   Sidi-Bel Abbes Region Dataset
26 09 2012 30 65 14 0   85.4 16  44.5 4.5 16.9 6.5                       fire
27 09 2012 28 87 15 4.4 41.1 6.5 8    0.1 6.2  0                     not fire
28 09 2012 27 87 29 0.5 45.9 3.5 7.9  0.4 3.4  0.2                   not fire
29 09 2012 24 54 18 0.1 79.7 4.3 15.2 1.7 5.1  0.7                   not fire
30 09 2012 24 64 15 0.2 67.3 3.8 16.5 1.2 4.8  0.5                  not fire

### Concat two region dataset to single dataset

In [16]:
df_region1.columns

Index(['Bejaia Region Dataset '], dtype='object')

In [17]:
region_name1 = df_region1.columns[0]

In [18]:
df_region2.columns

Index(['Sidi-Bel Abbes Region Dataset'], dtype='object')

In [19]:
region_name2 = df_region2.columns[0]

In [20]:
print(region_name1)
print(region_name2)

Bejaia Region Dataset
Sidi-Bel Abbes Region Dataset

In [21]:
# Convert multi index to columns
df_region1.reset_index(inplace=True)
df_region2.reset_index(inplace=True)

In [22]:
# Take column names from first row. Some column contained spaces hence stripping the leading and trailing whitespace
df_region1.columns = df_region1.iloc[0].str.strip()
df_region2.columns = df_region2.iloc[0].str.strip()

# assign the region name for each dataset
# using insert function so that the order is maintained
df_region1.insert(0, 'Region', region_name1)
df_region2.insert(0, 'Region', region_name2)

In [23]:
df_region1['Classes'].unique()

array(['Classes  ', 'not fire   ', 'fire   ', 'fire', 'fire ', 'not fire',
       'not fire '], dtype=object)

In [24]:
data['Classes'].str.strip()

NameError: name 'data' is not defined

In [25]:
# Take values only from the second row for each row and concat them to single dataframe
data = pd.concat([df_region1[1:], df_region2[1:]], ignore_index=True)
# Remove the leading and trailing white spaces in classess
data['Classes'].str.strip()
data

,Region,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,Bejaia Region Dataset,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,Bejaia Region Dataset,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,Bejaia Region Dataset,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,Bejaia Region Dataset,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,Bejaia Region Dataset,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Sidi-Bel Abbes Region Dataset,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
240,Sidi-Bel Abbes Region Dataset,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
241,Sidi-Bel Abbes Region Dataset,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
242,Sidi-Bel Abbes Region Dataset,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
243,Sidi-Bel Abbes Region Dataset,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

### Check for number of missing entries in each column

In [ ]:
data.isnull().sum()

### Since the number of rows are minimal, investigate the rows manually

In [ ]:
data.loc[data.isnull().any(axis=1)]

#### Droping the index 165 as of now since it does not have Classes. 
Note: It can also be used in the test dataset

In [ ]:
data.dropna(inplace=True)
data.reset_index(inplace=True, drop=True)

In [ ]:
data

In [ ]:
data.info()

### All column are set as object type. From visual inspection except region and classe remaining classes are not object

In [ ]:
# Column names contains spaces, removing the spaces in column names

data.columns = [columns.strip() for columns in data.columns]

In [ ]:
data.head()

In [ ]:
data.columns = [columns.strip() for columns in data.columns]

In [ ]:
integer_features = ['day', 'month', 'year', 'Temperature', 'RH', 'Ws']
float_features = ['Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI']

In [ ]:
df_region1.loc[1,:].str.strip()

In [ ]:
data[integer_features] = data[integer_features].astype(int)
data[float_features] = data[float_features].astype(float)

In [ ]:
data.info()

In [ ]:
data = pd.read_csv(r'C:\Users\satsathi\FSDS FT\localrepo\ml-flaskapi\artifacts\raw_local_dir\data.csv')

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data['Classes'].unique()

In [ ]:
import plotly.express as px

In [ ]:
for feature in ['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI']:
    fig = px.box(data, x='Region', y=feature , color ='Classes', title = feature)
    fig.show()

In [ ]:
[data[column].unique() for column in data.columns]

In [ ]:
(data["year"] + "/" + data["month"] + "/" + data["day"])

In [ ]:
datetime_feature = pd.to_datetime(data["year"].astype(str)+"/"+data['month'].astype(str)+"/"+data['day'].astype(str))

In [ ]:
# datetime_feature.dt.dayofyear.value_counts()
# datetime_feature.dt.isocalendar().week.value_counts()
# datetime_feature.dt.dayofweek.value_counts()
# datetime_feature.dt.quarter.value_counts()
# datetime_feature.dt.is_month_start.value_counts()
# datetime_feature.dt.is_month_end.value_counts()
# datetime_feature.dt.is_quarter_start.value_counts()
# datetime_feature.dt.is_quarter_end.value_counts()
# datetime_feature.dt.is_year_start.value_counts()